<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a routerLink = "/home">Home</a>&nbsp;
            <a routerLink = "/about-us">About us</a>&nbsp;
            <a routerLink = "/product-list">Products</a>&nbsp;
            <a routerLink = "/login-form">Login</a>&nbsp;
            <a routerLink = "/registeration-form">Register</a>&nbsp;
            <a routerLink = "/quiz">Quiz</a>&nbsp;
            <a routerLink = "/add-question">Add Questions</a>
        </div>
    </div>
</div>



<router-outlet></router-outlet>

